
@{
    ViewBag.Title = "ExampleCheckBox";
}
<!--CheckBox-->
 
<h3>Example Checkbox and Radio</h3>
<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
    <div class="checkbox-div">
        <input type="checkbox" value="SalesManLists.Id" checked="checked" name="subBox"><label class="checkbox-text toggle-active"></label>
    </div>
    <label class="F4">UserName</label>
</div>

<!--CheckBox-->
<!--Radio-->
 

<div class="radio-div" data-group="puRadio">
    <input type="radio" name="parentUserRadio" value="{{:Id}}"><span class="radio-text"></span>parentUserRadio
</div>

<!--Radio-->