
@{
    ViewBag.Title = "ExampleButton";
}
<!--Button-->
<h3>Compare ExampleButton</h3>

<div class="popup-foot">
    <div class="col-xs-12">
        <div class="nts-button B1 pull-right"  >
            <div class="nts-button-container col-lg-12  ">
                <button type="button" class="submit">Submit</button>
            </div>
        </div>
        <div class="nts-button B2 pull-right">
            <div class="nts-button-container col-lg-12  "  >
                <button type="button" class="cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>
<h3>
    Back  ExampleButton

</h3>
<div style="margin-bottom:95px;">
    <div class="row">
        <div class="col-xs-8 col-sm-5 col-md-4 col-lg-2 pull-left">
            <div class="nts-button B1 pull-left" id="DoBackBtn">
                <div class="nts-button-container">
                    <a href="#" target="_self" class="">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Button-->