
@{
    ViewBag.Title = "ExampleTable";
}

<br/>
<h2>ExampleTable</h2>

<div class="row">
    <div class="nts-table">
        <div class="col-xs-12">
            <div class="nts-table-scrollpane">
                <table class="nts-table-scroll" id="groupDataGrid" >
                    <thead>
                        <tr>
                            <th style="width: 15%">
                                <div class="Ps">Plant Name</div>
                            </th>
                            <th style="width: 20%">
                                <div class="Ps">Vehicle Assembler Chinese</div>
                            </th>
                            <th style="width: 20%">
                                <div class="Ps">Vehicle Assembler English</div>
                            </th>
                            <th style="width: 15%">
                                <div class="Ps">Workshop Name</div>
                            </th>
                            <th style="width: 10%">
                                <div class="Ps">Sales Name</div>
                            </th>
                             
                            <th style="width: 10%">
                                <div class="Ps">Operation</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    @*<tr>
                        <td class="P">
                             WorkshopName 
                        </td>
                        <td class="P">
                             TypeName 
                        </td>
                        <td class="P">
                             PlantName 
                        </td>
                        <td class="P">
                            AssemblerNameCh 
                        </td>
                        <td class="P">
                             AssemblerNameEn 
                        </td>
                        <td class="P">
                            ProvinceName 
                        </td>
                      
                      
                        <td class="P">
                            <div class="nts-button B1 pull-left">
                                <div class="nts-button-container">
                                    <button type="button"  >Details</button>
                                </div>
                            </div>
                        </td>
                    </tr>*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />



<div class="row">
    <div class="col-xs-12 aligncenter">
        <div id="groupPagination"></div>
    </div>
</div>



@section scripts{
    <script src="@Url.Content("~/Scripts/jsrender.js")"></script>

    <script src="@Url.Content("~/Content/laypage/laypage.js")"></script>
    
    <!--车间列表render模板-->
<script type="text/x-jsrender" id="groupTemplate">
    {{for rows}}
    <tr>
   
        <td class="P">
            {{> PlantName}}
        </td>
        <td class="P">
            {{> AssemblerNameCh}}
        </td>
        <td class="P">
            {{> AssemblerNameEn}}
        </td>
       
        <td class="P">
            {{> WorkshopName}}
        </td>
        <td class="P">
            {{> SaleName}}
        </td>
      
        <td class="P">
            <div class="nts-button B1 pull-left" onclick="DoWorkShopDetail({{:Id}})">
                <div class="nts-button-container">
                    <button type="button" class="detail">Details</button>
                </div>
            </div>
        </td>
    </tr>
    {{/for}}
</script>
    

    <script>
        laypage.dir = false; //不加载默认css
        $.ajaxSetup({ cache: false });
        var currentIndex = 1;
        
        loadGroupData(currentIndex);
        //分页加载数据列表
        function loadGroupData(pageIndex) {
        
            $.getJSON('@Url.Action("GetList")',
                { userId: 1,  currentPage: pageIndex }, function (json) {
                    //渲染数据
                    if (json.rows.length == 0) {
                        if (pageIndex == 1) {
                            $("#groupDataGrid tbody").empty().append('<tr><td colspan="' + $("#groupDataGrid thead th").length + '" style="text-align:center;">No data currently！</td></tr>');
                            $('#groupPagination').fadeOut();
                            ResetTableHeight();
                        } else {
                            pageIndex = pageIndex - 1;
                            loadGroupData(pageIndex);
                        }
                        return;
                    }
                    var html = $("#groupTemplate").render(json);
                    $("#groupDataGrid tbody").empty().append(html);
                    $('#groupPagination').fadeIn();
                    ResetTableHeight();
                    debugger
                    //渲染分页
                    laypage({
                        cont: $('#groupPagination'), //容器。值支持id名、原生dom对象，jquery对象,
                      
                        pages: json.total, //总页数
                        totalCount: json.totalCount,
                        curr: pageIndex || 1,
                        first: 'first', //将首页显示为数字1,。若不显示，设置false即可
                        last: 'last', //将尾页显示为总页数。若不显示，设置false即可
                        prev: 'previous', //若不显示，设置false即可
                        next: 'next', //若不显示，设置false即可
                        groups: 5, //连续显示分页数
                        jump: function (obj, first) {
                            if (!first) { //一定要加此判断，否则初始时会无限刷新
                                loadGroupData(obj.curr);
                            }
                            currentIndex = obj.curr;
                        }
                    });
                });
        }

        function DoWorkShopDetail(id) {
            window.location.href = '@Url.Action("ExampleDetail", "Home")?id=' + id;
        }


    </script>
}