
@{
    ViewBag.Title = "Index";
}

<h2>View</h2>
<a href="@Url.Action("Login","Show")" class="btn">Login</a>
<a href="@Url.Action("List","Show")" class="btn">List</a>
<a href="@Url.Action("Detail","Show")" class="btn">Detail</a>
<a href="@Url.Action("AllInForm","Show")" class="btn">All In Form</a>
 